doctype
html
    head
        title Best Jobs
        meta(charset="utf-8")
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/lib/toastr/toastr.css")
        link(rel="stylesheet" href="/css/site.css")
    body(ng-app="bestJobs")
        include includes/header
        include includes/main
        include includes/footer
        include includes/scripts
        include includes/currentUser