<div  ng-controller="HomeCtrl">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Welcome to Trip Exchange</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>Find your way home!</h4>
            </div>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-md-3">Trips</div>
        <div class="col-md-3">Finished Trips</div>
        <div class="col-md-3">Users</div>
        <div class="col-md-3">Drivers</div>
    </div>
    <div class="row text-center">
        <div class="col-md-3">{{stats.trips}}</div>
        <div class="col-md-3">{{stats.finishedTrips}}</div>
        <div class="col-md-3">{{stats.users}}</div>
        <div class="col-md-3">{{stats.drivers}}</div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Latest trips</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr class="info">
                            <th class="text-center">Driver</th>
                            <th class="text-center">From</th>
                            <th class="text-center">To</th>
                            <th class="text-center">Departure Time</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="info" ng-repeat="trip in trips">
                            <td class="hidden">{{trip.id}}</td>
                            <td>{{trip.driverName}}</td>
                            <td>{{trip.from}}</td>
                            <td>{{trip.to}}</td>
                            <td>{{trip.departureDate}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Latest drivers</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-responsive">
                        <thead>
                        <tr class="info">
                            <th class="text-center">Name</th>
                            <th class="text-center">Upcoming Trips</th>
                            <th class="text-center">Total Trips</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="info" ng-repeat="driver in drivers"">
                            <td class="hidden">{{driver.id}}</td>
                            <td>{{driver.name}}</td>
                            <td>{{driver.numberOfUpcomingTrips}}</td>
                            <td>{{driver.numberOfTotalTrips}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>