hr
#footer
.container
    .row
        .col-md-12
            p.text-muted.text-center
                | Made By 
                a(href="https://github.com/Nyx-NodeJsTeamWork") Nyx
                | | Powered By Angular.js and Node.js