block main-content
    header.nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                .navbar-brand Best Jobs
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li(ng-show="identity.isAuthenticated()")
                        a(href="#/home") Home

                div(ng-include="'partials/account/userNav'")