block main-content
    header.nav.navbar.navbar-default.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="#/") Best Jobs
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="#/items") Search
                    li(ng-show="identity.isAuthenticated()")
                        a(href="#/myads") My Ads
                        
                div(ng-include="'partials/account/login'")